<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>formFields</key>
	<array>
		<array>
			<dict>
				<key>isRequired</key>
				<true/>
				<key>isEnabled</key>
				<true/>
				<key>key</key>
				<string>title</string>
				<key>title</key>
				<string>Form Title</string>
				<key>contentType</key>
				<string>text</string>
				<key>inputType</key>
				<string>textField</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>isRequired</key>
				<true/>
				<key>isEnabled</key>
				<true/>
				<key>key</key>
				<string>desc</string>
				<key>title</key>
				<string>Form Description</string>
				<key>contentType</key>
				<string>text</string>
				<key>inputType</key>
				<string>textView</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>isRequired</key>
				<true/>
				<key>isEnabled</key>
				<true/>
				<key>key</key>
				<string>budget</string>
				<key>title</key>
				<string>Budget</string>
				<key>contentType</key>
				<string>number</string>
				<key>inputType</key>
				<string>textField</string>
			</dict>
			<dict>
				<key>value</key>
				<string>USD</string>
				<key>isRequired</key>
				<true/>
				<key>isEnabled</key>
				<false/>
				<key>key</key>
				<string>currency</string>
				<key>title</key>
				<string>Currency</string>
				<key>contentType</key>
				<string>text</string>
				<key>inputType</key>
				<string>textField</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>isRequired</key>
				<true/>
				<key>isEnabled</key>
				<true/>
				<key>key</key>
				<string>rate</string>
				<key>title</key>
				<string>Rate</string>
				<key>contentType</key>
				<string>text</string>
				<key>inputType</key>
				<string>drop</string>
			</dict>
			<dict>
				<key>isRequired</key>
				<true/>
				<key>isEnabled</key>
				<true/>
				<key>key</key>
				<string>paymentMethod</string>
				<key>title</key>
				<string>Payment Method</string>
				<key>contentType</key>
				<string>text</string>
				<key>inputType</key>
				<string>drop</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>isRequired</key>
				<true/>
				<key>isEnabled</key>
				<true/>
				<key>key</key>
				<string>startDate</string>
				<key>title</key>
				<string>Start Date</string>
				<key>contentType</key>
				<string>text</string>
				<key>inputType</key>
				<string>drop</string>
			</dict>
			<dict>
				<key>isRequired</key>
				<true/>
				<key>isEnabled</key>
				<true/>
				<key>key</key>
				<string>jobTerm</string>
				<key>title</key>
				<string>Job Term</string>
				<key>contentType</key>
				<string>text</string>
				<key>inputType</key>
				<string>drop</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
